@using AddressBookMVC.enums
@inject IImageService imageService
@inject AddressBookMVC.Services.Interfaces.IImageService ImageService
@model AddressBookMVC.Models.ViewModels.ContactCreateViewModel
@using AddressBookMVC.Services.Interfaces


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<h4>Contact</h4>
<hr />

<h4>Contact</h4>
<hr />
<div class="row glass-style darkGlass p-2">
    <div class="col-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.Id" />
            <input type="hidden" asp-for="Contact.UserId" />
            <input type="hidden" asp-for="Contact.Created" />
            <div class="row">
                <div class="col-12 col-md-4">
                    <img class="img-fluid" src="@ImageService.DecodeImage(Model.Contact.ImageData,Model.Contact.ImageType)" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="row gy-2">
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.FirstName" class="control-label"></label>
                            <input asp-for="Contact.FirstName" class="form-control" readonly/>

                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.LastName" class="control-label"></label>
                            <input asp-for="Contact.LastName" class="form-control" readonly />

                        </div>
                        <div class="col-12">
                            <label asp-for="Contact.Address1" class="control-label"></label>
                            <input asp-for="Contact.Address1" class="form-control" readonly />

                        </div>
                        <div class="col-12">
                            <label asp-for="Contact.Address2" class="control-label"></label>
                            <input asp-for="Contact.Address2" class="form-control" readonly />

                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.City" class="control-label"></label>
                            <input asp-for="Contact.City" readonly class="form-control" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label asp-for="Contact.State" class="control-label"></label>
                            <select asp-for="Contact.State" asp-items="@Html.GetEnumSelectList(typeof(States))" class="form-control" readonly></select>
                        </div>
                        <div class="col-12 col-md-2">
                            <label asp-for="Contact.ZipCode" class="control-label"></label>
                            <input asp-for="Contact.ZipCode" class="form-control" readonly />

                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.Email" class="control-label"></label>
                            <input asp-for="Contact.Email" class="form-control" readonly />
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.Phone" class="control-label"></label>
                            <input asp-for="Contact.Phone" class="form-control" readonly />
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Contact.Birthday" class="control-label"></label>
                            <input asp-for="Contact.Birthday" class="form-control" readonly />
                        </div>
                        <div class="col-12 col-md-4">
                            <label asp-for="Contact.Created" class="control-label"></label>
                            <input asp-for="Contact.Created" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            @foreach (var category in Model.CategoryList)

                            {
                                if (Model.Contact.Categories.Select(c => c.Id).ToList().Contains(Convert.ToInt32(category.Value)))
                                {
                                    <div class="form-check form-check-inline form-switch">
                                        <input type="checkbox" checked class="form-check-input" onclick="return false" name="CategoryList" value="@category.Value" />
                                        <label class="col-form-label" for="CategoryList">@category.Text</label>
                                    </div>
                                }
                                else
                                { <div class="form-check form-check-inline form-switch">
                                        <input type="checkbox" class="form-check-input" onclick="return false" name="CategoryList" value="@category.Value" />
                                        <label class="col-form-label" for="CategoryList">@category.Text</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="Contact.ImageData" />
                <input type="hidden" asp-for="Contact.ImageType" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.Contact.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>